{%- set md = Markdown() -%}
{%- set content = md.convert(page.content) -%}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ config['site-name'] }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static/style.css') }}">
    <style>
    h1, h2, h3, h4, h5, h6 {
      padding-top: 60px;
      margin-top: -50px;
    }
    .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
    }
    pre {
      padding: 0.5em 1em;
      background-color: #eee;
      overflow: auto;
    }
    #disqus_thread {
      margin-top: 7em;
    }
    </style>

    <!-- Google Analytics -->
    {% if config['google-analytics'] %}
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ config["google-analytics"] }}', 'auto');
      ga('send', 'pageview');
      </script>
    {% endif %}
  </head>
  <body>

    {% macro render_nav(current_page) %}
      {% set name = current_page.detail('title', current_page.name) %}
      {% set active = 'active' if current_page == page else '' %}
      {% if current_page.content and not current_page.children %}
        <a href="{{ url_for(current_page) }}" class="item {{ active }}">{{ name }}</a>
      {% elif current_page.children %}
        {% if current_page.content %}
        {% endif %}
        <div class="ui simple dropdown item">
          {% if current_page.content %}
            <a href="{{ url_for(current_page) }}" class="{{ active }}">{{ name }}</a>
          {% else %}
            {{ name }}
          {% endif %}
          <i class="dropdown icon"></i>
          <div class="menu">
            {% for child in current_page.children %}
              {{ render_nav(child) }}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endmacro %}

    <!-- header -->
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <span class="header item">
          <!--<img class="logo" src="assets/images/logo.png">-->
          {{ config['site-name'] }}
        </span>
        {% for child in page.root.children %}
          {{ render_nav(child) }}
        {% endfor %}

      <!-- GitHub -->
      {% if config['github-repository'] %}
        <a class="item right floated" href="https://github.com/{{ config['github-repository'] }}"><i class="github icon"></i>{{ config['github-repository'] }}</a>
      {% endif %}
      </div>
    </div>

    <div class="ui grid container main">
      <div class="twelve wide column">
        <!-- content -->
        <div class="ui text container">
          {{ content|safe }}
        </div>

        <!-- disqus support -->
        {% if config['disqus-shortname'] %}
          <div class="ui text container">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
            (function() {
                // Don't ever inject Disqus on localhost--it creates unwanted
                // discussions from 'localhost:1313' on your Disqus account...
                //if (window.location.hostname == "localhost")
                //    return;

                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                var disqus_shortname = '{{ config["disqus-shortname"] }}';
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com/" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          </div>
        {% endif %}
      </div>
      <!-- Table of contents -->
      <div class="four wide column">
        {% if page.detail('render-toc', True) %}
          <h1>Table of Contents</h1>
          {{ md.toc|safe }}
        {% endif %}
      </div>
    </div>

    <!-- footer -->
    <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
          {% if config['footer-notice'] %}
            <p>{{ config['footer-notice']|safe }}</p>
          {% endif %}
          <p>
            {% if config['footer-notice'] %} &mdash; {% endif %}
            Generated with <a href="https://github.com/NiklasRosenstein/yassg">Yassg</a>
          </p>
      </div>
    </div>
  </body>
</html>
